<div class="container-fluide">
    <div class="row">
        <div class="col-sm-6">
            <h1>Commodity Masters</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h1>SignUp Form</h1>
                <div class="col-sm-3">
                    <input type="text" class="form-control"   placeholder="First Name"><br>
                    <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your email"><br>
                    <input type="text" class="form-control"  placeholder="Enter your City"><br>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control"   placeholder="Last Name"><br>
                    <input type="email" class="form-control"  placeholder="Enter your number"><br>
                    <select id="inputState" class="form-control">
                        <option selected>Country</option>
                        <option>...</option>
                      </select><br>
                </div>
            </div>
        </div>
    </div>
</div>