<div class="row" style="height:100%;width: 100%; ">
    <div class="col-sm-2">
        <!-- <h1 style="color: white;">Subscribe To <br> Commodity Masters</h1> -->
    </div>
    <div class="col-sm-8 card">

        <div class="row card-body">

            <div class="col-sm-1">

            </div>
            <div class="col-sm-5">
                <h3>Subscription Form</h3>

                <label class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First Name">

                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name">

                <label class="form-label">Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email">

                <label class="form-label">Mobile number</label>
                <input type="number" class="form-control" placeholder="Enter your number">

                <label class="form-label">Designation</label>
                <input type="text" class="form-control" placeholder="Your Designation">

                
            </div>
            <div class="col-sm-5" style="margin-top: 5%;">
                
                <label class="form-label">Organization</label>
                <input type="text" class="form-control" placeholder="Organization Name">

                
                <div>
                    <label class="form-label">Country</label>
                    <select  class="form-control">
                        <option selected>Select Country</option>
                        <option>Country 1</option>
                        <option>Country 2</option>
                        <option>Country 3</option>
                    </select>
                </div>
                <div>
                <label class="form-label">State</label>
                <select  class="form-control">
                    <option selected>Select State</option>
                    <option>State 1</option>
                    <option>State 2</option>
                    <option>State 3</option>
                </select>
            </div>

                <label class="form-label">Zip Code</label>
                <input type="number" class="form-control" placeholder="Enter Zip Code">

                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">



                <br>
                
            </div>

            <div class="col-sm-3">
                <button type="submit" class="btn btn-success" style="margin-left: 36%;">Subscribe</button>
            </div>
        </div>
    </div>
</div>